/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

h1 {
	text-align: center;
}

.osoba{
	border: 1px solid rgb(225, 222, 222);
	border-radius: 10px;
	padding: 5px;
	margin: 10px;
}

.foto img {
border-radius: 50%;
}

.popis{
	text-align: center;
}

@media (min-width: 640px){

.tym{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.osoba{
	display: flex;
	flex-basis: calc((100% - 20px) / 2);
}
.foto img{
	float: left;
	padding: 10px;
}
.popis{
	text-align: left;
}
}

@media (min-width: 960px){
.tym{
		display: flex;
		flex-wrap: nowrap;
	}
.osoba{
	display: flex;
	flex-direction: column;
	flex-basis: 25%;
	height: 300px;
	margin: 10px;
	}

.popis{
text-align: center;
padding: 5px;

}
.foto img{
	align-content: center;
}


}
